<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TapHandles V1.1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
	servlet.InitBaseAtStart
	</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetNode</display-name>
    <servlet-name>GetNode</servlet-name>
    <servlet-class>servlet.GetNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNode</servlet-name>
    <url-pattern>/getnode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTable</display-name>
    <servlet-name>GetTable</servlet-name>
    <servlet-class>servlet.GetTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTable</servlet-name>
    <url-pattern>/gettable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTableAtt</display-name>
    <servlet-name>GetTableAtt</servlet-name>
    <servlet-class>servlet.GetTableAtt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTableAtt</servlet-name>
    <url-pattern>/gettableatt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunAsyncJob</display-name>
    <servlet-name>RunAsyncJob</servlet-name>
    <servlet-class>servlet.RunAsyncJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunAsyncJob</servlet-name>
    <url-pattern>/runasyncjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobList</display-name>
    <servlet-name>JobList</servlet-name>
    <servlet-class>servlet.JobList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobList</servlet-name>
    <url-pattern>/joblist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSummary</display-name>
    <servlet-name>JobSummary</servlet-name>
    <servlet-class>servlet.JobSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSummary</servlet-name>
    <url-pattern>/jobsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KillJob</display-name>
    <servlet-name>KillJob</servlet-name>
    <servlet-class>servlet.KillJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KillJob</servlet-name>
    <url-pattern>/killjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobResult</display-name>
    <servlet-name>JobResult</servlet-name>
    <servlet-class>servlet.JobResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobResult</servlet-name>
    <url-pattern>/jobresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jobTreepath</display-name>
    <servlet-name>jobTreepath</servlet-name>
    <servlet-class>servlet.JobTreepath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobTreepath</servlet-name>
    <url-pattern>/jobtreepath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sesame</display-name>
    <servlet-name>Sesame</servlet-name>
    <servlet-class>servlet.Sesame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sesame</servlet-name>
    <url-pattern>/sesame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZipBuilder</display-name>
    <servlet-name>ZipBuilder</servlet-name>
    <servlet-class>servlet.ZipBuilder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZipBuilder</servlet-name>
    <url-pattern>/datapack/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProductInfo</display-name>
    <servlet-name>getProductInfo</servlet-name>
    <servlet-class>servlet.getProductInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductInfo</servlet-name>
    <url-pattern>/getproductinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDataLink</display-name>
    <servlet-name>GetDataLink</servlet-name>
    <servlet-class>servlet.GetDataLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataLink</servlet-name>
    <url-pattern>/getdatalink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTableJoinKeys</display-name>
    <servlet-name>GetTableJoinKeys</servlet-name>
    <servlet-class>servlet.GetTableJoinKeys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTableJoinKeys</servlet-name>
    <url-pattern>/gettablejoinkeys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DummyServlet</display-name>
    <servlet-name>DummyServlet</servlet-name>
    <servlet-class>servlet.DummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyServlet</servlet-name>
    <url-pattern>/dummyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableNodes</display-name>
    <servlet-name>AvailableNodes</servlet-name>
    <servlet-class>servlet.AvailableNodes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableNodes</servlet-name>
    <url-pattern>/availablenodes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardXMLResource</display-name>
    <servlet-name>ForwardXMLResource</servlet-name>
    <servlet-class>servlet.ForwardXMLResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardXMLResource</servlet-name>
    <url-pattern>/forwardxmlresource</url-pattern>
  </servlet-mapping>
</web-app>