/*
 * CSS rules by tags
 */
 
@font-face {
	font-family: Lane;
	src: url(Lane.ttf) format("truetype");
}


body {
	font-family: Arial, Helvetica, sans-serif;
	min-width: 1010px;
	height: auto;
	overflow: auto;
}

div {
	background-color: #e0e0e0;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	overflow: none;
}

span, p, option {
	font-size: small;
	color: black;
}

li {
	font-size: small;
	color: black;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: black;
}

div.levelonediv {
	overflow: hidden;
}

div.widgetlabel {
	height: 24px;
	text-align: right;
	background-color: white;
	vertical-align: middle;
	padding: 1px 1px 1px 1px;
}

h4 {
	color: DimGray;
}

.help {
	color: DimGray;
	font-style: italic;
}

.strong {
	color: DimGray;
	font-size: x-large;
}

.dnddiv {
	height: 80px;
	width: 80px;
	background-color: transparent;
	background-image: url(../images/blackarrow_right.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 20px;
	border-width: 0
}

.vignette {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

a.logo {
	display: inline-block;
	height: 64px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 116px;
	background: transparent url(../images/tap64.png) bottom left no-repeat;
	vertical-align: middle;
}

a:hover.logo {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.logo {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.preview {
	display: inline-block;
	height: 24px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 24px;
	background: transparent url(../images/preview_icon24.png) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.preview {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.preview {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.readmeta {
	display: inline-block;
	height: 48px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 50px;
	background: transparent url(../images/readmeta.png) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.readmeta {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.readmeta {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.accept {
	display: inline-block;
	height: 24px;
	width: 0px;
	overflow: visible;
	padding: 4px 0 4px 90px;
	background: transparent url(../images/submit.png) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.accept {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.accept {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}


a.accept_small {
	display: inline-block;
	height: 24px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 68px;
	background: transparent url(../images/submit_small.png) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.accept_small {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.accept_small {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
a.refresh {
	display: inline-block;
	height: 16px;
	width: 0px;
	overflow: visible;
	padding: 0px 0 0px 16px;
	background: transparent url(../images/refresh16.png) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.refresh {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.refresh {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.add {
	display: inline-block;
	height: 24px;
	width: 0px;
	overflow: visible;
	padding: 0px 0 0px 24px;
	background: transparent url(../images/add.png) bottom left no-repeat;
	vertical-align: middle;
}

a:hover.add {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.add {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.histoleft {
	display: inline-block;
	height: 24px;
	width: 0px;
	overflow: visible;
	padding: 0 0 0 24px;
	background: transparent url(../images/histoleft.png) bottom left
		no-repeat;
}

a:hover.histoleft {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.histoleft {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.historight {
	display: inline-block;
	height: 24px;
	width: 0px;
	overflow: visible;
	padding: 0 0 0 24px;
	background: transparent url(../images/historight.png) bottom left
		no-repeat;
}

a:hover.historight {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.historight {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.simbad {
	display: inline-block;
	height: 18px;
	width: 0px;
	overflow: visible;
	padding: 0px 0 2px 35px;
	background: transparent url(../images/simbad_small.png) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.simbad {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.simbad {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.aladinsmall {
	display: inline-block;
	height: 18px;
	width: 0px;
	overflow: visible;
	padding: 18px 0 2px 50px;
	background: transparent url(../images/aladin_small.gif) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.aladinsmall {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.aladinsmall {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.vosplat {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 2px 0 30px 54px;
	background: transparent url(../images/vosplat.png) bottom left no-repeat;
}

a:hover.vosplat {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.vosplat {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.vosplatsmall {
	display: inline-block;
	height: 18px;
	width: 0px;
	overflow: visible;
	padding: 0px 0 2px 35px;
	background: transparent url(../images/vosplat_small.png) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.vosplatsmall {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.vosplatsmall {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.vospecsmall {
	display: inline-block;
	height: 18px;
	width: 0px;
	overflow: visible;
	padding: 0px 0 2px 35px;
	background: transparent url(../images/vospec_small.jpeg) bottom left
		no-repeat;
	vertical-align: middle;
}

a:hover.vospecsmall {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.vospecsmall {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.ivoa {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 2px 0 30px 54px;
	background: transparent url(../images/ivoa.jpg) bottom left no-repeat;
}

a:hover.ivoa {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.ivoa {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.sesame {
	display: inline-block;
	height: 28px;
	width: 0px;
	overflow: visible;
	padding: 0px 0 2px 70px;
	background: transparent url(../images/simbad.png) bottom left no-repeat;
	vertical-align: middle;
}

a:hover.sesame {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

a:active.sesame {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.pagetitle {
	font-style: bold;
	font-size: 150%;
	color: #888;
}

.pagetitlepath {
	font-style: italic;
	font-size: 150%
}
/*******************************************************
 * large icons opening global functionnalities
 */
a.topcat {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0 16px 32px;
	background: transparent url(../images/topcat_3232.gif) center left
		no-repeat;
}
a:hover.topcat {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.topcat {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.aladin {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 2px 0 24px 54px;
	background: transparent url(../images/aladin_icon_3254.gif) center left
		no-repeat;
}
a:hover.aladin {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.aladin {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
a.fits {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0 16px 38px;
	background: transparent url(../images/fits_32.png) center left no-repeat;
}

a:hover.fits {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.fits {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
a.votable {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0px 16px 38px;
	background: transparent url(../images/votable_32.png) center left
		no-repeat;
}
a:hover.votable {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.votable {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.zip {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0px 16px 38px;
	background: transparent url(../images/groscaddy.png) center left no-repeat;
}
a.zip_failed {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0px 16px 38px;
	background: transparent url(../images/zip_32.png) center left no-repeat;
	border: 2px solid red;
}
a.zip_failed {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0px 16px 38px;
	background: transparent url(../images/zip_32.png) center left no-repeat;
	border: 2px solid red;
}
a.zip_completed {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0px 16px 38px;
	background: transparent url(../images/zip_32.png) center left no-repeat;
	border: 2px solid green;
}
a.zip_executing {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0px 16px 38px;
	background: transparent url(../images/zip_32.png) center left no-repeat;
	border: 2px solid orange;
}
a:hover.zip {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.zip {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.samp {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 0px 0px 32px 20px;
	background: transparent url(../images/disconnected.png) center left
		no-repeat;
}
a:hover.samp {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.samp {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.formexpender {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 10px 0px 16px 40px;
	background: transparent url(../images/screen_down.png) center left
		no-repeat;
}
a:hover.formexpender {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.formexpender {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;auto
}




a.question {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 16px 0px 16px 40px;
	background: transparent url(../images/question.png) center left
		no-repeat;
}
a:hover.question {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.question {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;auto
}

a.sources {
	display: inline-block;
	height: 12px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 20px;
	background: transparent url(../images/sources_base.gif) center left
		no-repeat;
}
a:hover.sources {
	background: url(../images/sources_hl.gif) no-repeat center right;
}
a:visited.sources {
	background: url(../images/sources_se.gif) no-repeat center right;
}
a:hover.sources {
	background: url(../images/sources_hl.gif) no-repeat center right;
}
a:visited.sources {
	background: url(../images/sources_se.gif) no-repeat center right;
}

a.download {
	display: inline-block;
	height: 12px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 20px;
	background: transparent url(../images/download_base.gif) center left
		no-repeat;
}

a:hover.download {
	background: url(../images/download_hl.gif) no-repeat center right;
}
a:visited.download {
	background: url(../images/download_se.gif) no-repeat center right;
}
a.HDU {
	display: inline-block;
	height: 12px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 20px;
	background: transparent url(../images/HDU_base.gif) center left
		no-repeat;
}
a:hover.HDU {
	background: url(../images/HDU_hl.gif) no-repeat center right;
}
a:visited.HDU {
	background: url(../images/HDU_se.gif) no-repeat center right;
}

a.detail {
	display: inline-block;
	height: 12px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 20px;
	background: transparent url(../images/detail_base.gif) center left
		no-repeat;
}
a:hover.detail {
	background: transparent url(../images/detail_hl.gif) no-repeat center
		right;
}
a:visited.detail {
	background: url(../images/detail_se.gif) no-repeat center right;
}

/**************************
 * Small icons attached to data links
 */
a.dl_samp {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 9px 0px 9px 23px;
	background: transparent url(../images/dl_ivoa.png) center left
		no-repeat;
}
a:hover.dl_samp {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.dl_samp {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.dl_download {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 9px 0px 9px 23px;
	background: transparent url(../images/dl_download.png) center left
		no-repeat;
}
a:hover.dl_download {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.dl_download {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.dl_cart {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 9px 0px 9px 23px;
	background: transparent url(../images/dl_cart.png) center left
		no-repeat;
}
a:hover.dl_cart {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.dl_cart {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

a.dl_info {
	display: inline-block;
	width: 0px;
	overflow: visible;
	padding: 9px 0px 9px 23px;
	background: transparent url(../images/dl_info.png) center left
		no-repeat;
}
a:hover.dl_info {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
a:active.dl_info {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

/*********************************************************************
 * Page header style
 */
 
div#banner {
	height: 70px;
	vertical-align: middle;
}

div#pagetitle {
	width: 300;
	margin-left: 150px;
	margin-top: -65px;
	border-width: 0;
}

div#externaltools {
	width: 100%;
	height: 38px;
	margin-left: 0px;
	margin-top: 0px;
	border-width: 0;
}

/*************************************************************************
 * Data panel styles
 * access pane: container of the db tree, the data panel and the query form.
 * Be careful when modifying sizes: everything could collapse if the splitter JQuery
 * plugin is not happy (see ready.js)
 */

div#formpanemenu {
	height: 267px;
}


div#superwrapper {
	width : 100%;
	height: 100%;
	background-color: #fff;
}

div#datapane {
	overflow: hidden;
	height: 500px;
	width: auto;
}

div#accesspane {
	position: absolute;
	height: 780px;
	width: auto;
	vertical-align: middle;
}

div#treepane {
	width: 150px;
	height: 500px;
	overflow: auto;
	border-width: 0px;
	overflow: auto;
}

div#treedisp {
	height: 80%;
	overflow: auto;
	border-width: 0px;
}

div#resultpane {
	overflow: visible;
	border-width: 0px;
	height: 500px;
	width: auto;
}
/*
 * Right-side element of the splitter.
 */
div#formpane {
	overflow: hidden;
	border-width: 0px;
	padding: 5px;
	height: 267px;

	/* No margin or border allowed */
}

div#formframe {
	width: auto;
	height: 267px;
	position: fixed;
	bottom:5;
	overflow: hidden;
	border-width: 0px;
	float: right;
	padding: 0;

	/* No margin or border allowed */
}

div#datapane .vsplitbar {
	width: 6px;
	background: #c0c0c0 url(../images/vgrabber.gif) no-repeat center;
	border-bottom-left-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	border-width: 0px;
	border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	overflow: visible;
}

div#datapane .vsplitbar.active {
	opacity: 0.7;
}

div#accesspane .hsplitbar {
	height: 6px;
	background: #c0c0c0 url(../images/hgrabber.gif) no-repeat center;
	border-bottom-left-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	border-width: 0px;
	border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
}

div#accesspane .hsplitbar.active {
	opacity: 0.7;
}

/* Splitbar styles; these are the default class names */
.ui-state-default {
	background-color: #88c
}

.ui-state-hover {
	background-color: #bbf
}

.ui-state-highlight {
	background-color: #68f
}

.ui-state-error {
	background-color: #eaa
}

.splitter-pane {
	overflow: auto;
}

.splitter-bar-vertical {
	width: 6px;
	background-image: url(../images/saadatransp-text.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-vertical-docked {
	width: 10px;
	background-image: url(../images/vdockbar-trans.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-horizontal {
	height: 6px;
	background-image: url(../images/hgrabber.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-horizontal-docked {
	height: 10px;
	background-image: url(../images/hdockbar-trans.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
}

.splitter-bar.ui-state-highlight {
	opacity: 0.7;
}

.splitter-iframe-hide {
	visibility: hidden;
}

/*************************************************************
 * Style used in the page footer
 */
div#footer {
	height: 16px;
	width: auto;
	vertical-align: middle;
}

#BottomPane {
	background: #eef;
	min-height: 100px;
}

a#sessionreport {
	display: inline-block;
	height: 32px;
	width: 0px;
	overflow: visible;
	padding: 2px 0 2px 32px;
	background: transparent url(../images/session.gif) bottom left no-repeat;
	vertical-align: middle;
}

a:hover#sessionreport {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
	
.detailhead {
	background: #CCC
		url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png)
		repeat-x 50% 50%;
	border: 1px solid #AAA;
	margin: 0;
}


.detaildata {
	background: white;
}

/************************
 * Job status
 */
.pending {
	color: gray;
}
.queued {
	color: gray;
}
.executing {
	color: orange;
}
.completed {
	color: green;
}
.error {
	color: red;
}
.aborted{
	color: gray;
}
.unkwnown {
	color: red;
}
.held {
	color: gray;
}
.suspended {
	color: red;
}	
.nojob {
	color: gray;
}

